@charset "utf-8";
@import url("../../webfonts/Retro_Mono_Wide/stylesheet.css"); <br>
	* {font-family: "Retro Mono Wide";
	text-decoration: none;
	text-align: left;
	float: none;
	width: 50%;}
body {
	background-image: -webkit-linear-gradient(270deg,rgba(85,255,204,1.00) 0%,rgba(248,251,255,1.00) 23.83%,rgba(243,122,255,1.00) 52.33%,rgba(255,255,255,1.00) 81.87%,rgba(85,255,204,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(85,255,204,1.00) 0%,rgba(248,251,255,1.00) 23.83%,rgba(243,122,255,1.00) 52.33%,rgba(255,255,255,1.00) 81.87%,rgba(85,255,204,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(85,255,204,1.00) 0%,rgba(248,251,255,1.00) 23.83%,rgba(243,122,255,1.00) 52.33%,rgba(255,255,255,1.00) 81.87%,rgba(85,255,204,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(85,255,204,1.00) 0%,rgba(248,251,255,1.00) 23.83%,rgba(243,122,255,1.00) 52.33%,rgba(255,255,255,1.00) 81.87%,rgba(85,255,204,1.00) 100%);
	background-size: auto;
	font-family: "Retro Mono Wide";
	text-decoration: none;
	color: #000000;
	text-align: center;
}

#linktable {
	display:flex; /* or inline flex */
	flex-wrap: wrap;
	flex-direction: column;
}
/* #foot {
   position:absolute;
   bottom:0;
   width:100%;
   height:30px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size-adjust: auto;
	
}
